{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
        <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
        <a href="{% url 'company_add' %}" class="btn btn-primary">Add</a>
    </div>
    {% if company_list %}
        {% for company in company_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ company.name }}</h5>
                    <small class="text-muted">Created {{ company.created_at }}</small>
                </div>
                <div class="card-body">
                    <a href="{{ company.get_absolute_url }}" class="btn btn-outline-primary">Details</a>
                    <a href="{% url 'company_delete' pk=company.id %}?page=list_view"
                       class="save btn btn-outline-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no companies.</p>
    {% endif %}
{% endblock %}