{% extends 'base.html' %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'job_description_list' %}">Job Descriptions</a></li>
        <li class="list-group-item"><a href="{% url 'tag_list' %}">Skill Tags</a></li>
        <li class="list-group-item"><a href="{% url 'tag_category_list' %}">Skill Tag Categories</a></li>
        <li class="list-group-item"><a href="{% url 'resume_job_list' %}">Job Experience</a></li>
        <li class="list-group-item"><a href="{% url 'resume_list' %}">Resumes</a></li>
        <li class="list-group-item"><a href="{% url 'resume_education_list' %}">Education</a></li>
        <li class="list-group-item"><a href="{% url 'company_list' %}">Companies</a></li>
    </ul>
{% endblock %}