{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
        <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
        <a href="{% url 'job_description_add' %}" class="btn btn-primary">Add</a>
    </div>
    {% if job_description_list %}
        {% for job_description in job_description_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ job_description.title }} at {{ job_description.company }}</h5>
                    <small class="text-muted">Last Modified {{ job_description.updated_at }}</small>
                </div>
                <div class="card-body">
                    <a href="{{ job_description.get_absolute_url }}" class="btn btn-outline-primary">Details</a>
                    <a href="{% url 'job_description_edit' pk=job_description.id %}" class="btn btn-outline-primary">Edit</a>
                    <a href="{% url 'job_description_delete' pk=job_description.id %}?page=list_view"
                       class="save btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no job descriptions.</p>
    {% endif %}
{% endblock %}