{% extends 'base.html' %}
{% block content %}
    <div class="mb-3">
        <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
        <a href="{% url 'resume_job_add' %}" class="btn btn-primary">Add</a>
    </div>
    {% if resumejob_list %}
        {% for job in resumejob_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ job.title }} at {{ job.company }}</h5>
                    <h5 class="card-title">{{ job.company_description }}</h5>
                    <small class="text-muted">Created {{ job.created_at }}</small>
                </div>
                <div class="card-body">
                    <a href="{{ job.get_absolute_url }}" class="btn btn-outline-primary">Details</a>
                    <a href="{% url 'resume_job_delete' pk=job.id %}?page=list_view"
                       class="save btn btn-outline-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You haven't created any jobs.</p>
    {% endif %}
{% endblock %}