{% extends 'base.html' %}
{% block content %}
    <span>Contains: </span>{% for keyword in tag.keyword_contains %}
    <span class="badge bg-secondary">{{ keyword }}</span>
{% endfor %}
    <div class="row mt-2">
        {% if tag.keyword_excludes %}
            <div class="col">
                <span>Excludes: </span>{% for keyword in tag.keyword_excludes %}
                <span class="badge bg-secondary">{{ keyword }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col">
            <span>Category: </span>
            <span class="badge bg-secondary">{{ tag.category }}</span></div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <p>Name: {{ tag.name }}</p>
        </div>
        <div class="col">

            <p>Show in CV: {% if tag.show_in_cv %}<i class="fa-regular fa-square-check"></i>{% else %}
                <i class="fa-solid fa-square"></i></p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="d-grid gap-2">
            <a href="{% url 'tag_list' %}" class="btn btn-primary">Back</a>
            <a href="{% url 'tag_edit' pk=tag.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tag_delete' pk=tag.id %}" class="save btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}