{% extends 'base.html' %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ tag_category }}"?</p>
        {% if request.GET.page == 'list_view' %}
            <a href="{% url 'tag_category_list' %}" class="btn btn-outline-primary">Cancel</a>
        {% else %}
            <a href="{{ tag_category.get_absolute_url }}" class="btn btn-outline-primary">Cancel</a>
        {% endif %}
        <button type="submit" class="btn btn-outline-primary">Confirm</button>
    </form>
{% endblock %}